include mixins.pug

.rg-data_single(v-if="!!values[0]")
    - let i = 0;
    each v, key in props
        if isVisibleField(v)
            div 
                p !{v.description ? marked.inlineLexer(v.description, []) : sentenceCase(key)}
                +component(v, i, 'values[0]')
        - ++i
    if can.PATCH
        p 
            el-button(@click="save(values[0])" type="primary" round icon="el-icon-check" :loading="values[0].state=="+SAVE) Save