.monaco-editor-container {
    position: relative;

    flex-grow: 1;

    box-sizing: border-box;
    padding: 9px 0;

    border: 1px solid #dcdfe6;
    background-color: white;

    &:hover {
        border-color: #c0c4cc;
    }
}

.monaco-editor {
    box-sizing: border-box;
}