@import '../_vars.scss';

.editr {
    &--content {
        background-color: white;

        pre, code {
            display: inline-block;

            margin: 0;

            white-space: pre-wrap;

            background-color: rgba(255, 0, 0, .096);
        }
    }

    &--toolbar .dashboard {
        box-sizing: border-box;
    }

    .dropzone .dz-message {
        font-family: $font-name;
    }
}

.rg-wysiwyg {
    &_readonly {
        //todo opacity panel
        @include noneInteractive;
    }
}