<template>
    <div v-loading="loading" class="rg-data_single">
        <p class="rg-field__error">ВНИМАНИЕ! Зона повышенной ответственности. Тут можно уронить сервер окончательно и бесповоротно.</p>
        <p style="position:relative;flex-grow:1;" ref="terminal"></p>
    </div>
</template>
<script src="./terminal.ts"></script>